@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

body {
  background-color: rgb(55, 122, 189);
  color: #edede9;
  text-align: center;
  margin-top: 100px;
}



.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  background: rgb(246, 49, 49);
  box-shadow: 2px 2px 2px black;
  a {
    color: white;
  }
  .navbar-brand {
    font-family: "Lacquer", system-ui;
    color: orange;
    font-weight: 600;
  }
  #search {
    width: 200px;
    margin: 0 10px;
  }
  #google-auth {
    background: orange;
  }
}
  

.flex-container {
  display: flex;
  gap: 10px; 
  margin-top: 20px;
  flex-direction: column;
}
#welcome-message{
  margin-top: 20px;
  font-size: 2rem;
}

#login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#google-auth.btn.btn-danger {
  background-color: #222;
  border: 2px solid #ffffff;
  color: #ffffff;
}
#google-auth.btn.btn-danger:hover {
  background-color: #111;
  border: 2px solid #f0f0f0;
}

.text-purple {
  color: #6f42c1; 

}
