@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

body {
  background-color: rgb(55, 122, 189);
  color: #edede9;
  text-align: center;
  margin-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-image {
  background-image: url('https://c1.wallpaperflare.com/preview/1002/612/49/graffiti-hiphop-hip-hop-hauswand.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  background: rgb(246, 49, 49);
  box-shadow: 2px 2px 2px black;
  a {
    color: white;
  }
  .navbar-brand {
    font-family: "Lacquer", system-ui;
    color: orange;
    font-weight: 600;
  }
  #search {
    width: 200px;
    margin: 0 10px;
  }
  #google-auth {
    background: orange;
    color: white;
  }
}

#order-details {
  margin-top: -50px;
  margin-bottom: 30px;
  #customer-order-details {
  background: orange;
  padding: 20px 40px;
  width: 100vw;
  border-radius: 10px;
  border: 5px solid rgb(246, 49, 49);
  box-shadow: 0px 3px 3px 3px black;
  h3 {
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  p {
    font-size: 18px;
    text-shadow: 1px 1px 2px black;
  }
  a {
    color: white;
  }
  h5 {
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  table {
    border: 5px solid rgb(55, 122, 189);
  }
  .checkout-btn {
    margin-top: 10px;
    color: white;
    font-weight: 600;
    background: rgb(55, 122, 189);
  }
  .checkout-btn:hover {
    background: rgb(44, 95, 146);
  }
  }
}

#cards {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    box-shadow: 0px 2px 2px 2px black;
    img {
      height: 14rem;
    }
    p {
      font-weight: 800px;
      margin-top: 15px;
    }
    .add-item-btn {
      background: rgb(55, 122, 189);
      color: white;
      font-weight: 600;
    }
    .add-item-btn:hover {
      background: rgb(44, 95, 146);
    }
  } 
}

.flex-container {
  display: flex;
  gap: 10px; 
  margin-top: 20px;
  flex-direction: column;
}
#welcome-message{
  margin-top: 20px;
  font-size: 2rem;
}

#login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#google-auth.btn.btn-danger {
  background-color: #222;
  border: 2px solid #ffffff;
  color: #ffffff;
}
#google-auth.btn.btn-danger:hover {
  background-color: #111;
  border: 2px solid #f0f0f0;
}

.text-purple {
  color: #FFDF01; 

}

#form-container {
  margin: 20px auto;
  max-width: 800px; 
  padding: 20px;
  border-radius: 8px; 
}


.card {
  margin: 15px auto; 
  max-width: 500px; 
  background-color: #2825b9; 
  color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(250, 193, 0, 0.8); 
}
